<div class="author">
  <h1 class="author__heading">About BookyLooky!</h1>
</div>

<img
  src="/img/library.jpg"
  alt="an open books"
  class="hero-image"
  width="981"
  height="528"
/>
<br />
<div>
  <p class="author__body">
    where we share our love for books and explore captivating stories together!
  </p>
  <p class="author__body">
    Welcome to <strong>BookyLooky</strong>—a haven for book lovers and story
    enthusiasts! Here, we celebrate the magic of words and the worlds they
    create. Whether you're diving into a thrilling adventure, exploring timeless
    classics, or discovering new voices, this is where your imagination takes
    flight.
  </p>

  <p class="author__body">
    Lose yourself in captivating stories, connect with a community that shares
    your passion, and let the pages turn your day into an unforgettable journey.
    At BookyLooky, every story has a place, and every reader is welcome.
  </p>
</div>
